@mixin flexCenter {
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

@mixin flex-direction($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin flex-justify-content($justify) {
    display: flex;
    align-items: center;
    justify-content: $justify;
    width: 50%;
}

@mixin align-justify-center {
    align-items: center;
    justify-content: center;
}
